[submodule "lib/bgfx.cmake"]
	path = lib/bgfx.cmake
	url = https://github.com/bkaradzic/bgfx.cmake
[submodule "lib/glfw"]
	path = lib/glfw
	url = https://github.com/glfw/glfw
[submodule "lib/glm"]
	path = lib/glm
	url = https://github.com/g-truc/glm
[submodule "lib/SDL"]
	path = lib/SDL
	url = https://github.com/libsdl-org/SDL.git
